<h3>Office 366 Configuration</h3>
<mat-checkbox [(ngModel)]="extensionEnabled">Extension enabled</mat-checkbox>
<br />
<mat-checkbox [(ngModel)]="customTextEnabled" [disabled]="!extensionEnabled">Custom Text</mat-checkbox>
<br />
<mat-form-field>
  <input matInput placeholder="Custom Text..." [disabled]="!customTextEnabled || !extensionEnabled" [(ngModel)]="customText" />
</mat-form-field>
<br />
<button mat-raised-button color="primary" (click)="saveConfig()">Save</button>
<button mat-raised-button (click)="loadConfig()">Load</button>